<!DOCTYPE html>
<html>
    <script src="/static/js/box_allcheck.js" type="text/javascript"></script>
    {% extends "layout.html" %}
    {% block content %}
    <body bgcolor="#252525" text="#ffffff">

        <h1>WebHookの送信設定</h1>
        <h4>チェックマークがついている条件を満たしている場合、そのメッセージは送信されません。</h4>

        <a href="/guild/{{guild.id}}">
        {% if not guild.icon %}
            <img src="/static/img/discord-icon.jpg" />
        {% else %}
            <img src="https://cdn.discordapp.com/icons/{{guild.id}}/{{guild.icon}}.png"  />
        {% endif %}
        </a>
        <a href="/guild/{{guild.id}}">
            <li>{{ guild.name }}</li>
        </a>
        <br><br>

        {% set per = ['admin'] %}

        <h3>{{request.session.discord_user.username}}さんは
        {% if user_permission in per %}
            編集できます。
        {% else %}
            編集できません。閲覧のみになります。
        {% endif %}
        </h3>
        <br/>

        {% if user_permission not in per %}
        <fieldset disabled>
        {% endif %}

        <form action="/api/webhook-success" name="discordForm" method="post">
            <h1>新規作成</h1>
            <details>
                <summary>
                    <strong>展開</strong>
                </summary>
                <div id="selectTag">
                    <button type="button" id="add" onclick="copyInputTag('selectTag')">Add!</button>
                    <div id="copyTag">
                        <h6>WebHook</h6>
                        <select id="webhookSelect_1" name="webhookSelect_1" >
                            <option hidden disabled>選択してください</option>
                            {% for guild_webhook in guild_webhooks %}
                                {% for channel in channels %}
                                    {% if guild_webhook.channel_id|int == channel.id|int %}

                                        <option value="{{guild_webhook.id}}">
                                            {{channel.name}}:{{guild_webhook.name}}
                                        </option>

                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </select>
                        <h6>サブスクリプションタイプ(例:twitter,niconico)</h6>
                        <input type="text" id="subscType_1" name="subscType_1" maxlength="50" />

                        <h6>サブスクリプションid(例:twitter:@ユーザ名(@は含まない),niconico:/user/{userId})</h6>
                        <input type="text" id="subscId_1" name="subscId_1" maxlength="50" />

                        <br/>

                        
                        {% set role_len = 0 %}
                        

                        <h6>メンションするロールの選択</h6>
                        <!-- サーバ内のロール一覧をselectできるようにする -->
                        <select id="mySelect_1" onchange="selectWebhookRoleAddEvent('{{role_len}}',this)" size="1">
                            <option hidden disabled>選択してください</option>
                            {% for role in guild.roles %}
                                <option value="{{role.id}}">
                                    {{role.name}}
                                </option>
                            {% endfor %}
                        </select>
                        <br/>
                        
                        <!-- 
                            既に設定されている、または設定された場合、{{ロール名}}:x の形式で画面に表示する
                            xをクリックすることで削除できる
                        -->
                        <div id="role_select_1" class="selected-items">
                            {% for role_mention in table_webhooks.mention_roles %}
                                <div id="{{role_mention}}" class="selected-item"></div>
                            {% endfor %}
                        </div>
                        <br/><br/>

                        {% set member_len = 0 %}

                        <h6>メンションするメンバーの選択</h6>
                        <!-- サーバ内のロール一覧をselectできるようにする -->
                        <select id="memberSelect_1" onchange="selectWebhookMemberAddEvent('{{member_len}}',this)" size="1">
                            <option hidden disabled>選択してください</option>
                            {% for member in guild_members %}
                                <option value="{{member.user.id}}">
                                    {{member.user.username}}
                                </option>
                            {% endfor %}
                        </select>
                        <br/>
                        
                        <!-- 
                            既に設定されている、または設定された場合、{{ロール名}}:x の形式で画面に表示する
                            xをクリックすることで削除できる
                        -->
                        <div id="member_select_1" class="selected-items">
                            {% for member_mention in table_webhooks.mention_members %}
                                <div id="{{member_mention}}" class="selected-item"></div>
                            {% endfor %}
                        </div>
                        <br/><br/>

                        ワードカスタム(niconicoには反映されません)
                        <h6>キーワードOR検索(いずれかの言葉が含まれている場合、送信)</h6>
                        <div id="searchOrWord_1">
                            <button type="button" id="searchOrAdd_1" onclick="addTextButton(this,'searchOrText')">入力欄を増やす</button>
                            <br/>
                        </div>


                        <h6>キーワードAND検索(すべての単語が含まれている場合、送信)</h6>
                        <div id="searchAndWord_1">
                            <button type="button" id="searchAndAdd_1" onclick="addTextButton(this,'searchAndText')">入力欄を増やす</button>
                            <br/>
                        </div>

                        <h6>NGワードOR検索(いずれかの言葉が含まれている場合、送信しない)</h6>
                        <div id="ngOrWord_1">
                            <button type="button" id="ngOrAdd_1" onclick="addTextButton(this,'ngOrText')">入力欄を増やす</button>
                            <br/>
                        </div>


                        <h6>NGワードAND検索(すべての単語が含まれている場合、送信しない)</h6>
                        <div id="ngAndWord_1">
                            <button type="button" id="ngAndAdd_1" onclick="addTextButton(this,'ngAndText')">入力欄を増やす</button>
                            <br/>
                        </div>


                        <h6>メンションOR検索(いずれかの言葉が含まれている場合、メンションを付けて送信)</h6>
                        <div id="mentionOrWord_1">
                            <button type="button" id="mentionOrAdd_1" onclick="addTextButton(this,'mentionOrText')">入力欄を増やす</button>
                            <br/>
                        </div>


                        <h6>メンションAND検索(すべての単語が含まれている場合、メンションを付けて送信)</h6>
                        <div id="mentionAndWord_1">
                            <button type="button" id="mentionAndAdd_1" onclick="addTextButton(this,'mentionAndText')">入力欄を増やす</button>
                            <br/>
                        </div>


                    </div>
                </div>
            </details>
            <br/><br/>

            <h1>変更</h1>
            {% set k = [1] %}
            <details>
                <summary>
                    <strong>展開</strong>
                </summary>
                {% for webhook in table_webhooks %}
                    <details>
                        <summary>
                            {{webhook.subscription_id}}:{{webhook.subscription_type}}
                        </summary>        
                        <h6>WebHook</h6>
                        <strong class="text-danger">削除する</strong>
                        <input type="checkbox" name="delWebhook_{{k[0]}}"><br/>
                        <input type="hidden" name="uuid_{{k[0]}}" value="{{webhook.uuid}}"/>

                        <select id="webhookChange_{{k[0]}}" name="webhookChange_{{k[0]}}" required>
                            {% for guild_webhook in guild_webhooks %}
                                {% for channel in channels %}
                                    {% if guild_webhook.channel_id|int == channel.id|int %}

                                        <option value="{{guild_webhook.id}}"
                                        {% if webhook.webhook_id|int == guild_webhook.id|int %}
                                            selected
                                        {% endif %}
                                        >
                                            {{channel.name}}:{{guild_webhook.name}}
                                        </option>

                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </select>


                        <h6>サブスクリプションタイプ(例:twitter,niconico)</h6>
                        <input type="text" id="subscTypeChange_{{k[0]}}" value="{{webhook.subscription_type}}" maxlength="50" required/>

                        <h6>サブスクリプションid(例:twitter:@ユーザ名(@は含まない),niconico:/user/{userId})</h6>
                        <input type="text" id="subscIdChange_{{k[0]}}" value="{{webhook.subscription_id}}" maxlength="50" required/>

                        <br/>


                        <!-- 既にロールが設定されていた場合、その数を代入 -->
                        {% if table_webhooks.mention_roles|length > 0 %}
                            {% set role_len = table_webhooks.mention_roles|length %}
                        {% else %}
                            {% set role_len = 0 %}
                        {% endif %}
                        

                        <h6>メンションするロールの選択</h6>
                        <!-- サーバ内のロール一覧をselectできるようにする -->
                        <select id="myChange_{{k[0]}}" onchange="changeWebhookRoleAddEvent('{{role_len}}',this)" size="1">
                            <option hidden>選択してください</option>
                            {% for role in guild.roles %}
                                <option value="{{role.id}}">
                                    {{role.name}}
                                </option>
                            {% endfor %}
                        </select>
                        <br/>
                        {% set i = [1] %}

                        <!-- 
                            既に設定されている、または設定された場合、{{ロール名}}:x の形式で画面に表示する
                            xをクリックすることで削除できる
                        -->
                        <div id="role_change_{{k[0]}}" class="selected-items">
                            {% for role_id in webhook.mention_roles %}
                                <div id="{{role_id}}" class="selected-item">
                                    {% for role in guild.roles %}
                                        <!-- すでに通知するロールが設定されていた場合、表示 -->
                                        {% if role.id|int == role_id|int %}
                                            {{role.name}}
                                            <span class="remove-item" onclick="removeAdd(this)">x</span>
                                            <input type="hidden" name="role_role_change_{{k[0]}}_{{i[0]}}" value="{{role.id}}"/>
                                            {% set _ = i.append(i[0] + 1) %}
                                            {% set _ = i.pop(0) %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                        <br/><br/>


                        <!-- 既にロールが設定されていた場合、その数を代入 -->
                        {% set member_len = table_webhooks.mention_members|length %}
                        

                        <h6>メンションするメンバーの選択</h6>
                        <!-- サーバ内のロール一覧をselectできるようにする -->
                        <select id="memberChange_{{k[0]}}" onchange="changeWebhookMemberAddEvent('{{member_len}}',this)" size="1">
                            <option hidden disabled>選択してください</option>
                            {% for member in guild_members %}
                                <option value="{{member.user.id}}">
                                    {{member.user.username}}
                                </option>
                            {% endfor %}
                        </select>
                        <br/>
                        
                        <!-- 
                            既に設定されている、または設定された場合、{{ロール名}}:x の形式で画面に表示する
                            xをクリックすることで削除できる
                        -->
                        <div id="member_change_{{k[0]}}" class="selected-items">
                            {% for member_id in webhook.mention_members %}
                                <div id="{{member_id}}" class="selected-item">
                                    {% for member in guild_members %}
                                        {% if member_id|int == member.user.id|int %}
                                            {{member.user.username}}
                                            <span class="remove-item" onclick="removeAdd(this)">x</span>
                                            <input type="hidden" name="member_member_change_{{k[0]}}_{{i[0]}}" value="{{member.user.id}}"/>
                                            {% set _ = i.append(i[0] + 1) %}
                                            {% set _ = i.pop(0) %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                        <br/><br/>

                        {% set j = [1] %}

                        ワードカスタム(niconicoには反映されません)
                        <h6>キーワードOR検索(いずれかの言葉が含まれている場合、送信)</h6>
                        <div id="changeSearchOrWord_{{k[0]}}">
                            <button type="button" id="changeSearchOrAdd_{{k[0]}}" onclick="addTextButton(this,'changeSearchOrText')">入力欄を増やす</button>
                            <br/>
                            {% for or_word in webhook.search_or_word %}
                                <label id="keychangeSOr{{k[0]}}_{{j[0]}}">
                                    キーワード({{k[0]}}-{{j[0]}})<input name="changeSearchOrText{{k[0]}}_{{j[0]}}" type="text" value="{{or_word}}" maxlength="50" required/>
                                </label>
                                <span id="changeSOr{{k[0]}}_{{j[0]}}" class="close-icon" onclick="removeTextBox(this)">✖</span>
                                {% set _ = j.append(j[0] + 1) %}
                                {% set _ = j.pop(0) %}
                            {% endfor %}
                        </div>

                        {% set j = [1] %}

                        <h6>キーワードAND検索(すべての単語が含まれている場合、送信)</h6>
                        <div id="changeSearchAndWord_{{k[0]}}">
                            <button type="button" id="changeSearchAndAdd_{{k[0]}}" onclick="addTextButton(this,'changeSearchAndText')">入力欄を増やす</button>
                            <br/>
                            {% for and_word in webhook.search_and_word %}
                                <label id="keychangeSAnd{{k[0]}}_{{j[0]}}">
                                    キーワード({{k[0]}}-{{j[0]}})<input name="changeSearchAndText{{k[0]}}_{{j[0]}}" type="text" value="{{and_word}}" maxlength="50" required/>
                                </label>
                                <span id="changeSAnd{{k[0]}}_{{j[0]}}" class="close-icon" onclick="removeTextBox(this)">✖</span>
                                {% set _ = j.append(j[0] + 1) %}
                                {% set _ = j.pop(0) %}
                            {% endfor %}
                        </div>

                        {% set j = [1] %}

                        <h6>NGワードOR検索(いずれかの言葉が含まれている場合、送信しない)</h6>
                        <div id="changeNgOrWord_{{k[0]}}">
                            <button type="button" id="changeNgOrAdd_{{k[0]}}" onclick="addTextButton(this,'changeNgOrText')">入力欄を増やす</button>
                            <br/>
                            {% for or_word in webhook.search_or_word %}
                                <label id="keychangeNOr{{k[0]}}_{{j[0]}}">
                                    キーワード({{k[0]}}-{{j[0]}})<input name="changeNgOrText{{k[0]}}_{{j[0]}}" type="text" value="{{or_word}}" maxlength="50" required/>
                                </label>
                                <span id="changeNOr{{k[0]}}_{{j[0]}}" class="close-icon" onclick="removeTextBox(this)">✖</span>
                                {% set _ = j.append(j[0] + 1) %}
                                {% set _ = j.pop(0) %}
                            {% endfor %}
                        </div>

                        {% set j = [1] %}

                        <h6>NGワードAND検索(すべての単語が含まれている場合、送信しない)</h6>
                        <div id="changeNgAndWord_{{k[0]}}">
                            <button type="button" id="changeNgAndAdd_{{k[0]}}" onclick="addTextButton(this,'changeNgAndText')">入力欄を増やす</button>
                            <br/>
                            {% for and_word in webhook.search_and_word %}
                                <label id="keychangeNAnd{{k[0]}}_{{j[0]}}">
                                    キーワード({{k[0]}}-{{j[0]}})<input name="changeNgAndText{{k[0]}}_{{j[0]}}" type="text" value="{{and_word}}" maxlength="50" required/>
                                </label>
                                <span id="changeNAnd{{k[0]}}_{{j[0]}}" class="close-icon" onclick="removeTextBox(this)">✖</span>
                                {% set _ = j.append(j[0] + 1) %}
                                {% set _ = j.pop(0) %}
                            {% endfor %}
                        </div>

                        {% set j = [1] %}

                        <h6>メンションOR検索(いずれかの言葉が含まれている場合、メンションを付けて送信)</h6>
                        <div id="changeMentionOrWord_{{k[0]}}">
                            <button type="button" id="changeMentionOrAdd_{{k[0]}}" onclick="addTextButton(this,'changeMentionOrText')">入力欄を増やす</button>
                            <br/>
                            {% for or_word in webhook.mention_or_word %}
                                <label id="keychangeMOr{{k[0]}}_{{j[0]}}">
                                    キーワード({{k[0]}}-{{j[0]}})<input name="changeMentionOrText{{k[0]}}_{{j[0]}}" type="text" value="{{or_word}}" maxlength="50" required/>
                                </label>
                                <span id="changeMOr{{k[0]}}_{{j[0]}}" class="close-icon" onclick="removeTextBox(this)">✖</span>
                                {% set _ = j.append(j[0] + 1) %}
                                {% set _ = j.pop(0) %}
                            {% endfor %}
                        </div>

                        {% set j = [1] %}

                        <h6>メンションAND検索(すべての単語が含まれている場合、メンションを付けて送信)</h6>
                        <div id="changeMentionAndWord_{{k[0]}}">
                            <button type="button" id="changeMentionAndAdd_{{k[0]}}" onclick="addTextButton(this,'changeMentionAndText')">入力欄を増やす</button>
                            <br/>
                            {% for and_word in webhook.mention_and_word %}
                                <label id="keychangeMAnd{{k[0]}}_{{j[0]}}">
                                    キーワード({{k[0]}}-{{j[0]}})<input name="changeMentionAndText{{k[0]}}_{{j[0]}}" type="text" value="{{and_word}}" maxlength="50" required/>
                                </label>
                                <span id="changeMAnd{{k[0]}}_{{j[0]}}" class="close-icon" onclick="removeTextBox(this)">✖</span>
                                {% set _ = j.append(j[0] + 1) %}
                                {% set _ = j.pop(0) %}
                            {% endfor %}
                        </div>

                        <!-- 更新日時 -->
                        <input type="hidden" name="created_time_{{k[0]}}" value="{{webhook.created_at}}"/>
                        <br/><br/>
                    </details>
                    {% set _ = k.append(k[0] + 1) %}
                    {% set _ = k.pop(0) %}
                {% endfor %}
            </details>
            <input type="hidden" name="guild_id" value="{{guild_id}}"/>
            <br/><br/>
            {% if user_permission in per %}
            <input type="submit" value="送信"/>
            {% endif %}
        </form>
        {% if user_permission not in per %}
        </fieldset>
        {% endif %}

        <br/>
        <a href="/guild/{{guild_id}}" class="btn btn-primary">前のページに戻る</a>
        <a href="/guilds" class="btn btn-primary">サーバ一覧に戻る</a>
        <br/>
        サーバーウィジェットが有効の場合、サーバーの状況が表示されます。<br/>
        <iframe title="discord_5second" style="height: 350px;" src="https://discord.com/widget?id={{guild_id}}&theme=dark/" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        
        <script src="/static/js/input_create.js" type="text/javascript"></script>
    </body>
    {% endblock %}
</html>