<!DOCTYPE html>
<html>
    <script src="/static/js/box_allcheck.js" type="text/javascript"></script>
    {% extends "layout.html" %}
    {% block content %}
    <!--

        "request": request, 
        "all_channel": all_channel_sort,
        "guild": guild,
        "guild_id": guild_id,
        'vc_set' : [{
            'vc_id': vc['id'], 
            'guild_id': guild_id, 
            'send_channel_id': guild.get('system_channel_id'), 
            'join_bot': False,
            'everyone_mention': True,
            'mention_role_id':[]
        }],
        "user_permission":user_permission,
        "title": request.session["discord_user"]['username']

    -->
    <body bgcolor="#252525" text="#ffffff">
        {% if not guild.icon %}
            <a href="/guild/{{guild.id}}">
                <img src="/static/img/discord-icon.jpg" />
            </a>
        {% else %}
            <a href="/guild/{{guild.id}}">
                <img src="https://cdn.discordapp.com/icons/{{guild.id}}/{{guild.icon}}.png"  />
            </a>
        {% endif %}
        <a href="/guild/{{guild.id}}">
            <li>{{ guild.name }}</li>
        </a>
        <br><br>

        {% set per = ['admin'] %}
    
        <h3>{{request.session.discord_user.username}}さんは
        {% if user_permission in per %}
            編集できます。
        {% else %}
            編集できません。閲覧のみになります。
        {% endif %}
        </h3>
        <br/>
        {% if user_permission not in per %}
        <fieldset disabled>
        {% endif %}

        <form action="/api/vc-signal-success" name="discordForm" method="post">
            <details>
                <summary>
                    <strong>チャンネル一覧</strong>
                </summary>
                {% set i = [1] %}
                {% set chack_flag = 0 %}
                {% for vc_cate in vc_cate_channel %}
                    {% if vc_cate.type == 4 %}
                        {{ vc_cate.name }}
                        <br/>
                    {% else %}
                        <!--ng_channelの場合初めからチェックを付ける-->
                        <details>
                            <summary>
                                <strong>
                                    {% if vc_cate.type == 2 %}
                                        ボイスチャンネル　　:
                                    {% endif %}
                                    {{vc_cate.name}}
                                </strong>
                            </summary>
                            通知の送信先チャンネル<br/>
                            <select name="send_channel_id_{{vc_cate.id}}" size="1">
                                {% for chan in text_channel %}
                                    <!--テキストチャンネルの場合-->
                                    {% if chan.type == 0 %}
                                        <option value={{chan.id}} 
                                            {% for vc in vc_set %} 
                                                {% if chan.id|int == vc.send_channel_id|int %}
                                                    selected
                                                {% endif %}
                                            {% endfor %}
                                        >
                                            {% if chan.parent_id %}
                                                {% for cate in vc_cate_channel %}
                                                    {% if cate.type == 4 and cate.id == chan.parent_id %}
                                                        {{ cate.name }}:
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            {{chan.name}}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <br/>
                            <!-- ロールの数 -->
                            {% set role_len = 0 %}                        
                            {% for vc in vc_set %}
                                {% if vc_cate.id|int == vc.vc_id|int %}

                                    通知を送信する
                                    {{vc.send_signal}}
                                    {% if vc.send_signal %}
                                        <input type="checkbox" checked="checked" name="send_signal_{{vc_cate.id}}" value="True"/>
                                    {% else %}
                                        <input type="checkbox" name="send_signal_{{vc_cate.id}}" value="True"/>
                                    {% endif %}

                                    Botの通知をする
                                    {% if vc.join_bot %}
                                        <input type="checkbox" checked="checked" name="join_bot_{{vc_cate.id}}" value="True"/>
                                    {% else %}
                                        <input type="checkbox" name="join_bot_{{vc_cate.id}}" value="True"/>
                                    {% endif %}
                                    <br/>
                                    everyoneで通知する
                                    {% if vc.everyone_mention %}
                                        <input type="checkbox" checked="checked" name="everyone_mention_{{vc_cate.id}}" value="True"/>
                                    {% else %}
                                        <input type="checkbox" name="everyone_mention_{{vc_cate.id}}" value="True"/>
                                    {% endif %}
                                    <br/>
                                    通知するロールの追加
                                    <br/>

                                    <!-- 既にロールが設定されていた場合、その数を代入 -->
                                    {% if vc.mention_role_id|length > 0 %}
                                        {% set role_len = vc.mention_role_id|length %}
                                    {% endif %}
                                    
                                    <!-- サーバ内のロール一覧をselectできるようにする -->
                                    <select id="mySelect_{{vc_cate.id}}" onchange="selectRoleAddEvent('{{role_len}}',this)" size="1">
                                        {% for role in guild.roles %}
                                            <option value="{{role.id}}">
                                                {{role.name}}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <br/>
                                    {% set i = [1] %}
                                    <!-- 
                                        既に設定されている、または設定された場合、{{ロール名}}:x の形式で画面に表示する
                                        xをクリックすることで削除できる
                                     -->
                                    <div id="{{vc_cate.id}}" class="selected-items">
                                        {% for role_mention in vc.mention_role_id %}
                                            <div id="{{role_mention}}" class="selected-item">
                                                {% for role in guild.roles %}
                                                    <!-- すでに通知するロールが設定されていた場合、表示 -->
                                                    {% if role.id|int == role_mention|int %}
                                                        {{role.name}}
                                                        <span class="remove-item" onclick="removeAdd(this)">x</span>
                                                        <input type="hidden" name="role_{{vc_cate.id}}_{{i[0]}}" value="{{role.id}}"/>
                                                        {% set _ = i.append(i[0] + 1) %}
                                                        {% set _ = i.pop(0) %}
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <br/><br/>
                                {% endif %}
                                
                            {% endfor %}
                        </details>
                    {% endif %}
                {% endfor %}
            <br/>
            <input type="button" value="全選択" onClick="check(this.form,true,'channel_')"/>
            <input type="button" value="全解除" onClick="check(this.form,false,'channel_')"/>
            </details>
            <br/>
            <br/>
            <input type="hidden" name="guild_id" value="{{guild_id}}"/>
            {% if user_permission in per %}
            <input type="submit" value="送信"/>
            {% endif %}
        </form>
        {% if user_permission not in per %}
        </fieldset>
        {% endif %}
        
        <br/>
        <a href="/guild/{{guild_id}}" class="btn btn-primary">前のページに戻る</a>
        <a href="/guilds" class="btn btn-primary">サーバ一覧に戻る</a>
        <br/>
        サーバーウィジェットが有効の場合、サーバーの状況が表示されます。<br/>
        <iframe title="discord_5second" style="height: 350px;" src="https://discord.com/widget?id={{guild_id}}&theme=dark/" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        <script src="/static/js/selects_bar.js" type="text/javascript"></script>
    </body>
    {% endblock %}
</html>