<!DOCTYPE html>
<html>
    <script src="/static/js/box_allcheck.js" type="text/javascript"></script>
  {% extends "layout.html" %}
  {% block content %}
  <body bgcolor="#252525" text="#ffffff">

    <h1>LINEへの送信設定</h1>
    <h4>チェックマークがついている条件を満たしている場合、そのメッセージは送信されません。</h4>

    {% if not guild.icon %}
        <a href="/guild/{{guild.id}}">
            <img src="/static/img/discord-icon.jpg" />
        </a>
    {% else %}
        <a href="/guild/{{guild.id}}">
            <img src="https://cdn.discordapp.com/icons/{{guild.id}}/{{guild.icon}}.png"  />
        </a>
    {% endif %}
    <a href="/guild/{{guild.id}}">
        <li>{{ guild.name }}</li>
    </a>
    <br><br>

    {% set per = ['admin'] %}

    <h3>{{request.session.discord_user.username}}さんは
    {% if user_permission in per %}
        編集できます。
    {% else %}
        編集できません。閲覧のみになります。
    {% endif %}
    </h3>
    <br/>

    {% if user_permission not in per %}
    <fieldset disabled>
    {% endif %}

    <form action="/api/line-post-success" name="discordForm" method="post">
        <details>
            <summary>
                <strong>チャンネル一覧</strong>
            </summary>
            {% set i = [1] %}
            {% set chack_flag = 0 %}
            {% for all in all_channel %}
                {% if all.type == 4 %}
                    {{ all.name }}
                    <br/>
                {% endif %}
                <!--ng_channelが設定されている場合-->
                {% if all.type != 4 %}
                    <details>
                        <summary>
                            <strong>
                                {% if all.type == 0 %}
                                    テキストチャンネル　:
                                {% elif all.type == 2 %}
                                    ボイスチャンネル　　:
                                {% elif all.type == 15 or all.type == 11 %}
                                    スレッド　　　　　　:
                                {% endif %}
                                {{all.name}}
                            </strong>
                        </summary>

                        <!--ng_channelの場合初めからチェックを付ける-->
                        <input type="checkbox"
                            {% if line_row[all.id]['line_ng_channel'] == true %}
                                checked="checked" 
                            {% endif %} 
                            {% if all.type == 0 %}
                                class="text_channel_line"
                            {% elif all.type == 2 %}
                                class="voice_channel_line"
                            {% endif %}
                        name="line_ng_channel_{{all.id}}" value="True"/>
                        <!--
                            {
                                channel_{{all.id}}:True
                            }
                        -->
                        {% set chack_flag = 1 %}
                        
                        :LINEへ送信しない
                        
                        <input type="checkbox"
                            {% if line_row[all.id]['message_bot'] == true %}
                                checked="checked" 
                            {% endif %}
                            {% if all.type == 0 %}
                                class="text_channel_bot"
                            {% elif all.type == 2 %}
                                class="voice_channel_bot"
                            {% elif all.type == 15 %}
                                class="text_channel_bot"
                            {% endif %}
                        name="message_bot_{{all.id}}" value="True"/>
                        
                        :botのメッセージを送信しない

                        <br/>
                        送信しないメッセージの種類:<br/>
                        
                        <input type="checkbox" name="default_{{all.id}}"
                        {% if "MessageType.default" in line_row[all.id]['ng_message_type'] %}
                            checked="checked"
                        {% endif %}
                        value="MessageType.default"/>
                        
                        :デフォルト
                        <br/>

                        
                        <input type="checkbox" name="recipient_add_{{all.id}}"
                        {% if "MessageType.recipient_add" in line_row[all.id]['ng_message_type'] %}
                            checked="checked"
                        {% endif %}
                        value="MessageType.default"/>
                        
                        :スレッド追加
                        <br/>

                        
                        <input type="checkbox" name="pins_add_{{all.id}}"
                        {% if "MessageType.pins_add" in line_row[all.id]['ng_message_type'] %}
                            checked="checked"
                        {% endif %}
                        value="MessageType.pins_add"/>

                        :ピン止め
                        <br/>

                        <!-- 既にロールが設定されていた場合、その数を代入 -->
                        {% if line_row[all.id]["ng_users"]|length > 0 %}
                            {% set member_len = line_row[all.id]["ng_users"]|length %}
                        {% else %}
                            {% set member_len = 0 %}
                        {% endif %}

                        <br/>
                        メッセージを送信しないユーザー
                        <br/>
                        <!-- サーバ内のロール一覧をselectできるようにする -->
                        <select id="mySelect_{{all.id}}" onchange="selectMemberAddEvent('{{member_len}}',this)" size="1">
                            {% for member in guild_members %}
                                <option value="{{member.user.id}}">
                                    {{member.user.username}}
                                </option>
                            {% endfor %}
                        </select>
                        <br/>

                        {% set j = [1] %}
                        <div id="{{all.id}}" class="selected-items">
                            {% for ng_user_id in line_row[all.id]["ng_users"] %}
                                <div id="{{ng_user}}" class="selected-item">
                                    {% for member in guild_members %}
                                        <!-- すでに送信NGにしているユーザが設定されていた場合、表示 -->
                                        {% if member.user.id|int == ng_user_id|int %}
                                            {{member.user.username}}
                                            <span class="remove-item" onclick="removeAdd(this)">x</span>
                                            <input type="hidden" name="member_{{all.id}}_{{j[0]}}" value="{{member.user.id}}"/>
                                            {% set _ = j.append(j[0] + 1) %}
                                            {% set _ = j.pop(0) %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>

                        <br/>
                        {% set _ = i.append(i[0] + 1) %}
                        {% set _ = i.pop(0) %}
                        {% set chack_flag = 0 %}
                    </details>
                {% endif %}
            {% endfor %}
            <br/>
            <input type="button" value="LINE全選択" onClick="check(this.form,true,'channel_')"/>
            <input type="button" value="LINE全解除" onClick="check(this.form,false,'channel_')"/>
            <br/><br/>
            <input type="button" value="LINEテキスト全選択" onClick="classCheck(this.form,true,'text_channel_line')"/>
            <input type="button" value="LINEテキスト全解除" onClick="classCheck(this.form,false,'text_channel_line')"/>
            <br/><br/>
            <input type="button" value="LINEボイス全選択" onClick="classCheck(this.form,true,'voice_channel_line')"/>
            <input type="button" value="LINEボイス全解除" onClick="classCheck(this.form,false,'voice_channel_line')"/>
            <br/><br/>
            <input type="button" value="bot全選択" onClick="check(this.form,true,'message_bot_')"/>
            <input type="button" value="bot全解除" onClick="check(this.form,false,'message_bot_')"/>
            <br/><br/>
            <input type="button" value="botテキスト全選択" onClick="classCheck(this.form,true,'text_channel_bot')"/>
            <input type="button" value="botテキスト全解除" onClick="classCheck(this.form,false,'text_channel_bot')"/>
            <br/><br/>
            <input type="button" value="botボイス全選択" onClick="classCheck(this.form,true,'voice_channel_bot')"/>
            <input type="button" value="botボイス全解除" onClick="classCheck(this.form,false,'voice_channel_bot')"/>
            <br/>
        </details>

        <input type="hidden" name="count_channel" value="{{i[0]}}"/>
        <input type="hidden" name="guild_id" value="{{guild_id}}"/>
        <br/>
        {% if user_permission in per %}
        <input type="submit" value="送信"/>
        {% endif %}
    </form>
    {% if user_permission not in per %}
    </fieldset>
    {% endif %}
    <br/>
    <a href="/guild/{{guild_id}}" class="btn btn-primary">前のページに戻る</a>
    <a href="/guilds" class="btn btn-primary">サーバ一覧に戻る</a>
    <br/>
    サーバーウィジェットが有効の場合、サーバーの状況が表示されます。<br/>
    <iframe title="discord_5second" style="height: 350px;" src="https://discord.com/widget?id={{guild_id}}&theme=dark/" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    <script src="/static/js/selects_bar.js" type="text/javascript"></script>
  </body>
  {% endblock %}
</html>