<!DOCTYPE html>
<html>
    <script src="/static/js/box_allcheck.js" type="text/javascript"></script>
  {% extends "layout.html" %}
  {% block content %}
  <body bgcolor="#252525" text="#ffffff">

    <h1>LINEからDiscordへの送信設定</h1>
    <h4></h4>

    {% if not guild.icon %}
        <a href="/guild/{{guild.id}}">
            <img src="/static/img/discord-icon.jpg" />
        </a>
    {% else %}
        <a href="/guild/{{guild.id}}">
            <img src="https://cdn.discordapp.com/icons/{{guild.id}}/{{guild.icon}}.png"  />
        </a>
    {% endif %}
    <a href="/guild/{{guild.id}}">
        <li>{{ guild.name }}</li>
    </a>
    <br><br>

    {% set per = ['admin'] %}

    <h3>{{request.session.discord_user.username}}さんは
    {% if user_permission in per %}
        編集できます。
    {% else %}
        編集できません。閲覧のみになります。
    {% endif %}
    </h3>
    <br/>

    {% if user_permission not in per %}
    <fieldset disabled>
    {% endif %}

    <form action="/api/line-set-success" name="discordForm" method="post">

        <h3>LINE Notifyのトークン</h3>
        {% if user_permission in per %}
            <input type="password" id="line_notify_token" name="line_notify_token" value="{{line_row.line_notify_token}}"/>
        {% else %}
            {% if line_row.line_notify_token|length == 0 %}
                未入力
            {% else %}
                入力済み
            {% endif %}
        {% endif %}
        <button type='button' id="btn_notify_token_view" onclick="password_view('line_notify_token','btn_notify_token_view')">表示</button>

        <h3>LINE Botのトークン</h3>
        {% if user_permission in per %}
            <input type="password" id="line_bot_token" name="line_bot_token" value="{{line_row.line_bot_token}}"/>
        {% else %}
            {% if line_row.line_bot_token|length == 0 %}
                未入力
            {% else %}
                入力済み
            {% endif %}
        {% endif %}
        <button type='button' id="btn_line_token_view" onclick="password_view('line_bot_token','btn_line_token_view')">表示</button>

        <h3>LINE Botのシークレットキー</h3>
        {% if user_permission in per %}
            <input type="password" id="line_bot_secret" name="line_bot_secret" value="{{line_row.line_bot_secret}}"/>
        {% else %}
            {% if line_row.line_bot_secret|length == 0 %}
                未入力
            {% else %}
                入力済み
            {% endif %}
        {% endif %}
        <button type='button' id="btn_line_secret_view" onclick="password_view('line_bot_secret','btn_line_secret_view')">表示</button>

        <h3>LINEグループのid</h3>
        {% if user_permission in per %}
            <input type="password" id="line_group_id" name="line_group_id" value="{{line_row.line_group_id}}"/>
        {% else %}
            {% if line_row.line_group_id|length == 0 %}
                未入力
            {% else %}
                入力済み
            {% endif %}
        {% endif %}
        <button type='button' id="btn_group_id_view" onclick="password_view('line_group_id','btn_group_id_view')">表示</button>

        <h3>LINEログインのクライアントid</h3>
        {% if user_permission in per %}
            <input type="password" id="line_client_id" name="line_client_id" value="{{line_row.line_client_id}}"/>
        {% else %}
            {% if line_row.line_client_id|length == 0 %}
                未入力
            {% else %}
                入力済み
            {% endif %}
        {% endif %}
        <button type='button' id="btn_client_id_view" onclick="password_view('line_client_id','btn_client_id_view')">表示</button>

        <h3>LINEログインのクライアントシークレットキー</h3>
        {% if user_permission in per %}
            <input type="password" id="line_client_secret" name="line_client_secret" value="{{line_row.line_client_secret}}"/>
        {% else %}
            {% if line_row.line_client_secret|length == 0 %}
                未入力
            {% else %}
                入力済み
            {% endif %}
        {% endif %}
        <button type='button' id="btn_client_secret_view" onclick="password_view('line_client_secret','btn_client_secret_view')">表示</button>


        <br/>
        <h3>通知の送信先チャンネル</h3>
        
        <select name="default_channel_id" size="1">

            {% if line_row.default_channel_id|int == 0 %}
                <option value="0">選択なし</option>
            {% endif %}
            
            {% for chan in all_channel %}
                <!--テキストチャンネルの場合-->
                {% if chan.type == 0 or chan.type == 15 %}
                    <option value={{chan.id}} 
                        {% if chan.id|int == line_row.default_channel_id|int %}
                            selected
                        {% endif %}
                    >

                        {% if chan.parent_id %}
                            {% for cate in all_channel %}
                                {% if cate.type == 4 and cate.id == chan.parent_id %}
                                    {{ cate.name }}:
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {{chan.name}}

                    </option>
                {% endif %}
            {% endfor %}
        </select>

        <h3>デバッグモード</h3>
        <h6>有効にすると、LINEグループにグループIDを送信します。(トークンとシークレットキーは必須)</h6>
        デバッグモード:<input type="checkbox" name="debug_mode"
        {% if line_row.debug_mode %}
            checked
        {% endif %}
        value="True"/>
        <br/>

        <input type="hidden" name="guild_id" value="{{guild_id}}"/><br/>
        {% if user_permission in per %}
            <input type="submit" value="送信"/>
        {% endif %}
    </form>
    {% if user_permission not in per %}
    </fieldset>
    {% endif %}
    <br/>
    <a href="/guild/{{guild_id}}" class="btn btn-primary">前のページに戻る</a>
    <a href="/guilds" class="btn btn-primary">サーバ一覧に戻る</a>
    <br/>
    サーバーウィジェットが有効の場合、サーバーの状況が表示されます。<br/>
    <iframe title="discord_5second" style="height: 350px;" src="https://discord.com/widget?id={{guild_id}}&theme=dark/" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    <script src="/static/js/password_view.js" type="text/javascript"></script>
  </body>
  {% endblock %}
</html>