<!DOCTYPE html>
<html>
  {% extends "layout.html" %}
  {% block content %}
  <body bgcolor="#252525" text="#ffffff">
    <h1>編集、閲覧可能なサーバ一覧</h1>
    <ul>
      {% for guild in match_guild %}
        {% if not guild.icon %}
          <a href="/guild/{{guild.id}}">
            <img src="/static/img/discord-icon.jpg" />
          </a>
        {% else %}
          <a href="/guild/{{guild.id}}">
            <img src="https://cdn.discordapp.com/icons/{{guild.id}}/{{guild.icon}}.png"  />
          </a>
        {% endif %}
        <a href="/guild/{{guild.id}}">
          <li>{{ guild.name }}</li>
        </a>
        <br><br>
      {% endfor %}
    </ul>
  </body>
  {% endblock %}
</html>