<!DOCTYPE html>
<html>
  {% extends "layout.html" %}
  {% block content %}
  <head>
    <title>{{title}}</title>
  </head>
  <body bgcolor="#252525" text="#ffffff">
    <div class="col-md-2">
      {% if request.session.oauth_data %}
          <a href="/logout" class="btn btn-primary">Logout</a>
      {% else %}
          <a href="/register" class="btn btn-primary">Login</a>
      {% endif %}
      <a href="/" class="btn btn-primary">top</a>
    </div>
    {% if not guild.icon %}
        <a href="/guild/{{guild.id}}">
            <img src="/static/img/discord-icon.jpg" />
        </a>
    {% else %}
        <a href="/guild/{{guild.id}}">
            <img src="https://cdn.discordapp.com/icons/{{guild.id}}/{{guild.icon}}.png"  />
        </a>
    {% endif %}
    <a href="/guild/{{guild.id}}">
        <li>{{ guild.name }}</li>
    </a>
    <a href="/guild/{{guild_id}}/line-post" class="btn btn-primary">line</a>
    <a href="/guild/{{guild_id}}/" class="btn btn-primary">webhook</a>
    <br/>
    <iframe title="discord_5second" style="height: 350px;" src="https://discord.com/widget?id={{guild_id}}&theme=dark/" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
  </body>
  {% endblock %}
</html>