<!DOCTYPE html>
<html>
  {% extends "layout.html" %}
  {% block content %}
  <head>
    <title>{{title}}</title>
    <meta name="description" content="DiscordBotの設定を行います。" />
    <link rel="icon" href="https://i.gyazo.com/adeb0735f71e695c7baf4c2ae6ede3e0.png"></link>
    <meta property="og:url" content="/"></meta>
    <meta property="og:image" content="https://i.gyazo.com/adeb0735f71e695c7baf4c2ae6ede3e0.png" />
    <meta property="og:type" content=" website" />
    <meta property="og:locale" content="ja_JP" />
  </head>
  <body bgcolor="#252525" text="#ffffff">
    <div class="col-md-2">
      {% if request.session.oauth_data %}
        <a href="/logout" class="btn btn-primary">Logout</a>
      {% else %}
        <a href="/register" class="btn btn-primary">Login</a>
      {% endif %}
      <a href="/" class="btn btn-primary">top</a>
    </div>
    {% if request.session.oauth_data %}
      <a href="/guilds" class="btn btn-primary">guilds</a>
    {% endif %}
    <br/>
    <img src="https://i.gyazo.com/adeb0735f71e695c7baf4c2ae6ede3e0.png"/>
  </body>
  {% endblock %}
</html>