<html lang="ja">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="icon" href="/static/img/discord-icon.jpg">
        <title>{{title}}</title>
        <meta name="description" content="DiscordBotの設定を行います。" />
        <link rel="icon" href="https://i.gyazo.com/adeb0735f71e695c7baf4c2ae6ede3e0.png"></link>
        <meta property="og:url" content="/"></meta>
        <meta property="og:image" content="https://i.gyazo.com/adeb0735f71e695c7baf4c2ae6ede3e0.png" />
        <meta property="og:type" content=" website" />
        <meta property="og:locale" content="ja_JP" />
        <meta charset="UTF-8">

        <!--レスポンシブ対応-->
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    </head>
    <body style="background-color: #36393F; color: #FFF;">
        <!-- display: flex: 要素を並列に 
             flex-direction: column:はみ出たコンテナを横に -->
        <div style="display: flex; flex-direction: column; min-height: 100vim;">
            <!--
                container は各レスポンシブブレークポイントで max-width
                container-fluid の場合、すべてのブレークポイントで width: 100% 
            -->
            <div class="container">
                <div class="container-fluid">
                    <div class="row">
                        <!--
                            mdはPC
                            smはタブレット
                            xsはスマホ
                        -->
                        <div class="col-xs-2 col-sm-10 col-md-10" style="width: 50%;">
                            <a href="/" class="btn btn-primary">top</a>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2" style="width: 50%;">
                            <button type="button" id="popover-btn" class="btn btn-primary">
                                {% if request.session.discord_oauth_data or request.session.line_oauth_data %}
                                Logout
                                {% else %}
                                Login
                                {% endif %}
                            </button>
                        
                            <div id="popover-content" style="display: none;position: absolute;background-color: #fff;border: 1px solid #ccc;padding: 10px; margin: 0 0 0 auto;">
                                
                                {% if request.session.discord_oauth_data %}
                                    <a href="/discord-logout" class="btn btn-primary">Discord Logout</a>
                                {% else %}
                                    <a href="/discord-login" class="btn btn-primary">Discord Login</a>
                                {% endif %}
                                
                                {% if request.session.line_oauth_data %}
                                    <a href="/line-logout" class="btn btn-primary">LINE Logout</a>
                                {% else %}
                                    <a href="/line-login" class="btn btn-primary">LINE Login</a>
                                {% endif %}
                                
                            </div>
                        </div>
                    </div>
                </div>
                {% block content %}
                <!-- メインコンテンツ -->
                {% endblock %}
            </div>
        </div>
        <br>
        <hr>
        <footer class="bg-secondary" >
            <div align="center">
                <p>Copyright &copy; maguro Inc. All right reserves.</p>
                <p>Powered by FastAPI 0.88.0 &amp; starlette 0.22.0</p>
            </div>
        </footer>
        <script src="/static/js/popover.js" type="text/javascript"></script>
    </body>
</html>